@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    background-image: url(../images/admin-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0%;
}

                    /* Header */

header{
    background-color: rgb(0, 0, 0, .7);
    font-family: 'Aclonica', sans-serif;
}

.nav-head{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 24px;
}

li a{
    transition: all 0.5s ease 0.5s;
    color: rgb(151, 98, 28);
    text-decoration: none;
}

li a:hover{
    color: white;
}

                    /* Main */

.affichage{
    color: #000000;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    margin-top: 2%;
    
}

table{
    margin: auto;
    background-color: rgb(255, 255, 255, .5);
}
th{
    text-shadow: black 0px 1px 2px;
    border: peru solid 2px;
    color: peru;
}

td{
    border: peru solid 2px;
    padding: 18px;
}

                    /* Footer */

footer{
    font-family: 'Aclonica', sans-serif;
    color: rgb(151, 98, 28);  
    text-align: center;
    background-color: rgb(0, 0, 0, .7);
    position: absolute; bottom: 0; left: 0; right: 0;
    padding-top: 1%;
}

#gate{
    color: rgb(151, 98, 28); 
    font-size: 30px;
    text-decoration: none;
}

#gate:hover{
    transition: all 0.3s ease 0.3s;
    color: white;
}