@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    background-image: url(../images/accueil-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0%;
}

                    /* Header */

header{
    background-color: rgb(0, 0, 0, .7);
    font-family: 'Aclonica', sans-serif;
}

.nav-head{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 24px;
}

li a{
    transition: all 0.5s ease 0.5s;
    color: rgb(151, 98, 28);
    text-decoration: none;
}

li a:hover{
    color: white;
}

                    /* Main */

main{
    font-family: 'Aclonica', sans-serif;
}

#titre{
    text-shadow: black 0px 2px 3px;
    margin-top: 6%;
    text-align: center;
    color: rgb(151, 98, 28);
}

#acc-text{
    color: #000000;
}

#map{
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: .8s ease-in-out !important; 
    transition: .8s ease-in-out !important; 
    width: 600px;
    height: 400px;
}

#map:hover{
    box-shadow: 0px 10px 18px white;
}

                    /* Footer */

footer{
    font-family: 'Aclonica', sans-serif;
    color: rgb(151, 98, 28);  
    text-align: center;
    background-color: rgb(0, 0, 0, .7);
    position: absolute; bottom: 0; left: 0; right: 0;
    padding-top: 1%;
}


#gate{
    color: rgb(151, 98, 28);  
    font-size: 30px;
    text-decoration: none;
}

#gate:hover{
    transition: all 0.3s ease 0.3s;
    color: white;
}