@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    background-image: url(../images/inscription-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0%;
}

                    /* Header */

header{
    background-color: rgb(0, 0, 0, .7);
    color: rgb(151, 98, 28);
    font-family: 'Aclonica', sans-serif;
}

.nav-head{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 24px;
}

li a {
    transition: all 0.3s ease 0.3s;
    color: rgb(151, 98, 28);
    text-decoration: none;
}

li a:hover{  
    color: white;
}

                    /* Main */

form{
    margin-top: 2%;
    padding: 1%;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'Aclonica', sans-serif;
    color: black;
    background-color: rgba(216, 199, 199, 0.7); 
    border-radius: 15px;
}

#ins-text{
    text-align: center;
}

.btn{
    margin-top: 1%;
    margin-left: 30%;
}

#axes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

                    /* Footer */

footer{
    font-family: 'Aclonica', sans-serif;
    color: rgb(151, 98, 28);  
    text-align: center;
    background-color: rgb(0, 0, 0, .7);
    position: absolute; bottom: 0; left: 0; right: 0;
    padding-top: 1%;
}

#gate{
    color: rgb(151, 98, 28); 
    font-size: 26px;
    text-decoration: none;
}

.alert-css{
    margin-top: -25%;
    width: 30%;
}

#gate:hover{
    transition: all 0.3s ease 0.3s;
    color: white;
}