@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    background-image: url(../images/profil-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0%;
}

                    /* Header */

header{
    background-color: rgb(0, 0, 0, .7);
    font-family: 'Aclonica', sans-serif;
}
                    
.nav-head{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 24px;
}
                    
li a{
    transition: all 0.5s ease 0.5s;
    color: rgb(151, 98, 28);
    text-decoration: none;
}
                    
li a:hover{
    color: white;
}

                    /* Main */

.formulaire{
    margin-top: 5%;
    padding: 1%;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'Aclonica', sans-serif;
    color: black;
    background-color: rgba(216, 199, 199, 0.7); 
    border-radius: 15px;
}

#pro-text{
    text-align: center;
}

.btn{
    margin-left: 37%;
    margin-top: 1%;  
}

                    /* Footer */

footer{
    font-family: 'Aclonica', sans-serif;
    color: rgb(151, 98, 28);  
    text-align: center;
    background-color: rgb(0, 0, 0, .7);
    position: absolute; bottom: 0; left: 0; right: 0;
    padding-top: 1%;
}

#gate{
    color: rgb(151, 98, 28); 
    font-size: 30px;
    text-decoration: none;
}

#gate:hover{
    transition: all 0.3s ease 0.3s;
    color: white;
}